# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/
coverage/

# Directory created by dartdoc
doc/api/

# Api key files
**/example/android/app/src/main/res/values/strings.xml
**/example/ios/Runner/Secrets.swift