name: google_maps_cluster_manager
description: Simple Flutter clustering library for Google Maps based on Geohash.
version: 3.1.0
homepage: https://github.com/bpillon/google_maps_cluster_manager

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  google_maps_flutter_platform_interface: ^2.4.3

dev_dependencies:
  flutter_test:
    sdk: flutter

topics:
  - google-maps
  - google-maps-flutter
  - map
  - cluster
